body {
    background-color: rgb(255, 238, 220);
}

.image{
    position:relative;
    width: 400px;
    height: 200px;
    background-position: center;
    opacity: 0.9; /* 30% de transparencia */
    transform: translate(120%);
    border-radius: 15px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(126, 51, 51);
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.container {
    display: grid;
    place-items: center; 
    
}

h1{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, #ff3300, #fd6e00);
    color: transparent;
    background-clip: text
 }

h2 {
    font-size: 20px;
    background: linear-gradient(to right, #fd6842, #fdb680);    
    font-family:'Trebuchet MS';
}

p{
    color:rgb(5, 2, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

    color: black;
    border: 1px solid rgb(126, 51, 51);
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.container {
    display: grid;
    place-items: center;  
}

}


